* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#stage {
  position: relative;
  width: 100%;
  height: 100%;
}

#palm {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  background-color: #f0f;
}

#console {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #0f0;
  font-family: monospace;
  padding: 5px;
  font-size: 13px;
}